#title {
    margin-top: 1em;
    text-align: center;
}

#switchMode {
    float: right;
    margin-right: 2em;
}

#actionButtons {
    width: 70%;
    margin-top: 6rem;
    margin-left: 15%;
    margin-right: 15%;
}

#uploadInput {
    margin-left: 3em;
}

#filesInformation {
    margin-top: 6em;
    text-align: center;
}

#filesContainer {
    margin-top: 3em;
    display: inline-block;
}

#filesContainer > div {
    height: 200px;
    width: 400px;
    display: inline-block;
    background-color: whitesmoke;
    overflow: hidden;
    margin: .3em .8em;
    text-align: center;
}

#snapshot {
    display: none;
}